# *_PROVIDER 可选；不填时默认按 openai-compatible 适配
TEXT_MODEL_PROVIDER=
TEXT_MODEL_API_KEY=
TEXT_MODEL_BASE_URL=
TEXT_MODEL_NAME=
IMAGE_MODEL_PROVIDER=
IMAGE_MODEL_API_KEY=
IMAGE_MODEL_BASE_URL=
IMAGE_MODEL_NAME=
AI_CHAT_MODEL_PROVIDER=
AI_CHAT_MODEL_API_KEY=
AI_CHAT_MODEL_BASE_URL=
AI_CHAT_MODEL_NAME=

KNOWHOW_API_PROVIDER=
KNOWHOW_API_KEY=
KNOWHOW_API_BASE_URL=
KNOWHOW_API_SEARCH_PATH=
KNOWHOW_API_TOP_N=
